.Wrapper {
  width: 100%;
  max-width: 550px;
  min-width: 230px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.PageWrpper {
  display: flex;
  flex-direction: column;

  .Title {
    margin: 16px auto;
    color: var(--color-primary);
  }
}
